<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylepaises.css">

    <title>Países</title>
</head>

<body>
    
    <nav>
        <a class="logo" href="/home">Home</a>
        <a class="logo" href="/quemsomos">Quem Somos</a>
        <a class="logo" href="/sobre">Sobre</a>
        <a class="logo" href="/cadastro">Cadastrar</a>
    </nav>

    <header>
        <h1>Todos Paises Africanos</h1>
    </header>
    <!-- lista de paises -->
    <section id="paises">
        <% filmes.forEach(item => { %>
            <section class="card">
                <article id="content">
                    <ul>
                        <a href="/detalhes/<%= item.id %>">
                            <img src="<%= item.bandeira %>" width=200>
                        </a>
                        <li>Nome: <%= item.nome %></li>
                        <li>Capital: <%= item.capital %></li>
                        <li>Região: <%= item.regiao %></li>
                        <li>Extensão: <%= item.extensao %></li>
                        <li>População: <%= item.populacao %></li>
                        <li>Lingua Oficial: <%= item.lingua %></li>
                        <li>Moeda Oficial: <%= item.moeda %></li>
                        <li>Informações: <%= item.informacoes %></li>
                                                
                    </ul>
                        <a href = "/editar/<%= item.id %>">Editar</a>
                        <a href = "/deletar/<%= item.id %>">Deletar</a>

                </article>
            </section>
        <% }) %> 
    </section>
    <script src="/js/script.js"></script>  
    
</body>
</html>